* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

nav {
  background-color: rgb(54, 54, 54);
}

.nav-ul {
  display: flex;
}
.nav-logo {
  align-self: center;
  color: white;
  padding: 5px;
  font-size: 22px;
}

.IoMenu:active {
  background-color: red;
}

.IoMenu {
  display: none;
  align-self: center;
  width: 40px;
  color: white;
}

.IoClose {
  display: none;
  align-self: center;
  color: white;
}

/**  UTILITIES **/
.navlist {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlist * {
  margin: 10px;
}
/* Navlists items in Navbar*/
.navItem-li {
  color: #bebebe;
  margin: 5px 25px;
  font-size: 20px;
  font-weight: 400;
  transition-duration: 200ms;
  transition: ease-out 0.3s;
}
.navItem-li:hover {
  margin-top: 1px;
  color: rgb(255, 255, 255);
}

#nav-dropdown {
  width: 100%;
  background-color: rgb(37, 37, 37);
  position: absolute;
  z-index: 2;
  transition: all 200ms ease-in-out;
}
#nav-dropdown.hidden {
  opacity: 0;
  visibility: hidden;
}
.nav-dropdown-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #585858;
  font-size: 20px;
  font-weight: 400;
}
.nav-dropdown-li {
  display: flex;
  align-items: center;
  height: 50px;
  color: rgb(197, 197, 197);
}

.nav-dropdown-ul:hover {
  margin-top: 1px;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 700px) {
  .IoMenu {
    display: block;
  }
  .IoClose {
    display: block;
  }
  .nav-ul {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  #nav-dropdown {
    display: none;
  }
}
