ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: rgb(241, 241, 241);
}

.nav-ul {
  display: flex;
}
.nav-logo {
  align-self: center;
}


.FaBars:active{
  background-color: red;
}

.FaBars { 
  display: none;
  align-self: center;
}



/**  UTILITIES **/
.navlist {
  padding: 0px 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.navItem-li {
  padding: 5px 25px;
  font-family: 'Roboto', sans-serif;

}
.nav-dropdown {
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
@media only screen and (max-width: 700px) {
  .FaBars {
    display: block;
  }
  .nav-ul {
    display: none;
  }

}

@media only screen and (min-width: 700px) {
  .nav-dropdown {
    display: none;
  }
}